@model IEnumerable<PropertyRentalManagementMVC.Models.Appointment>

@{
    ViewBag.Title = "Index";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Property Rental Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Log Out", "LogOut", "Manager")</li>
            </ul>
        </div>
    </div>
</div>

<br>
<h4>Hello manager: @Session["managerFirstName"].ToString() @Session["managerLastName"].ToString() </h4>

@Html.ActionLink("All apartments", "Index", "Apartments")
<br>
@Html.ActionLink("All buildings", "Index", "Buildings")
<br>
@Html.ActionLink("Respond potential tenants' messages", "Index", "Messages")
<br>
@Html.ActionLink("Report event, track status", "Index", "Report")
<br>
<br>
<h1>Appointments</h1>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppoitmentTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager.ManagerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant.TenantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant.FirstName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppoitmentTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.ManagerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tenant.TenantId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tenant.FirstName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.AppointmentId })

                </td>
            </tr>
        }

    </table>


